<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h2 class="nav-link" [routerLink]="['/login']" >twitter clone</h2>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button *ngIf="!this.auth.isLoggedIn" type="button" class="btn btn-link px-3 me-2" [routerLink]="['/login']">
            Login
          </button>
          <button  *ngIf="!this.auth.isLoggedIn"  type="button" class="btn btn-primary me-3" [routerLink]="['/signup']">
            Sign up for free
          </button>
          <button type="button" *ngIf="this.auth.isLoggedIn"  class="btn btn-link px-3 me-2" (click)="logout()">
            Log out
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->