
<div class="container">
    <div class="row">
      <div class="col-9">
        <h2 class="topic_header"></h2>
      </div>
    </div>
  </div>
  <body>
    <div class="container">
        <div class="form-group">
            <label for="comment">What are you thinking geek:</label>
            <textarea class="form-control" rows="5" maxlength="99" id="comment" #comment></textarea>
          </div>
          <button type="button" class="btn btn-primary" (click)="Send()">Send</button>
          <br><br/>
          <br><br/>
        <ul class="list-group" >
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">Third item</li>
          </ul>
    </div>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
  </body>